<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Wobble Jr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Wobble Jr Controls</h1>

    <div class="buttons-container">
        <button onclick="sendCommand('wave')">Wave</button>
        <button onclick="sendCommand('lamp')">Lamp Mode</button>
        <button onclick="sendCommand('idle')">Idle</button>
        <button onclick="sendCommand('ambient')">Ambient</button>
        <button onclick="sendCommand('dance1')">Dance 1</button>
        <button onclick="sendCommand('dance2')">Dance 2</button>
        <button onclick="sendCommand('dance3')">Dance 3</button>
        <button onclick="sendCommand('bensrequest')">Animation</button>
    </div>

    <p id="status"></p>

    <script>
      function sendCommand(action) {
        fetch(`/command/${action}`)
          .then(response => {
            if (response.ok) {
              document.getElementById('status').textContent = `${action} executed`;
            } else {
              document.getElementById('status').textContent = `Error running ${action}`;
            }
          })
          .catch(err => {
            document.getElementById('status').textContent = `Connection error`;
          });
      }
    </script>
  </body>
</html>
